#dash-feed {
  .feed-image {
    background-image: url("../../images/feed.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
  }

  .ant-col {

    h4.ant-typography {
      padding-top: 0;
    }
  
  }
  .section.feed {
    padding: 24px;

    .feed__button-container {
      display: flex;
    }
  }
}