#fav-workouts {
  .fas {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: 0.7rem;
    background-color: rgb(21, 21, 21);
    color: #fff;
    border-radius: 40px;
  }
}
