#form-style {
  display: flex;
  justify-content: center;

  .form__content {

    width: 400px;

    h1.ant-typography {
      text-align: center;
      margin-bottom: 24px;
    }

    .blk-input {

      .ant-select-arrow {
        color: #fff;
      }
      
      .ant-select-selector {
        background: black;
        color: white;
      }
    }
  }
}