#custom {

  #profile-card {

    .ant-card-actions {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .ant-card-body {
      padding-top: 50px;

      h4 {
        padding-top: 0;
      }
    }
  }

  #profile-info {
    padding: 16px;
   
    h4.ant-typography{
      padding: 0;
      margin-bottom: 0;
    }

    .ant-typography-secondary{
      display: block;
      margin-bottom: 8px;
    }

    .ant-upload {
      display: block;
    }

    .info__content {
      padding-top: 32px;
      display: flex;
      justify-content: space-around;
    }
   }
}