@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Oswald:wght@400;700&display=swap');


html {
  width: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Barlow', 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#custom {
  .prueba{
    padding:0
  }

  .ant-btn {
    font-family: 'Oswald';
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;

    &:hover {
      color: #000;
      border-color: #000;
    }


    &-primary{
      background-color: #000;
      border-color: #000;

      &:hover {
        color: white;
      }
    }

    &-text{
      border: none;
    }
  }

  //TYPOGRAPHY
  h1.ant-typography {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 32px;

    span {
      font-family: 'Oswald';
      font-weight: 400;
    }
  }

  h4.ant-typography {
    font-family: 'Oswald';
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-top: 42px;
    padding-bottom: 24px;
  }

  p {
    text-align: left;
  }

  //LAYOUT STYLING
  .ant-layout {
    background: #fff;
    padding: 0 16px;

    .ant-layout-header {
      background: #fff;
      padding: 0;

      .layout__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .layout__image {
          display: flex;
          align-items: center;
          padding: 12px, 0;

          img {
            width: 90px;
          }
        }

        .layout__links {
          display: flex;
          align-items: center;

          a {
            padding: 0 8px;
          }
        }
      }
    }

    //footer
    .ant-layout-footer {
      background: #fff;

      .footer__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer__image {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          p {
            margin: 0;
            padding: 8px 16px;
            border-left: solid 1px #C4C4C4;
          }

          img {
            height: 40px;
            padding-right: 16px;
          }
        }
      }
    }

    //CONTENT STYLING
    .site-layout-content {

      #profile-card {
        position: absolute;
        min-width: 375px;
        z-index: 5;
        right: 0;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

        .ant-card {
          padding:0
        }
      } 
    }
  }

  //CARD
  .ant-card.ant-card-bordered {
    border: none;
    padding: 18px;

    .ant-card-body {
      padding: 0;

      img {
        width: 100%;
      }

      .card-content {

        .card-title {
          font-family: "Oswald";
          font-weight: 700;
          font-size: 18px;
          margin: 8px 0;
        }

        .card-text {
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }

  .section {
    padding: 64px 64px 128px 64px;
    margin-bottom: 64px;

    p {
      font-size: 18px;
      width: 320px;
    }

    .button-container {
      display: flex;
    }
  }

  .custom-header {
    margin-bottom: 32px;
    margin-top: 42px
  }

  .card-group {
    margin: 0 0 64px 0;

    .card-group__button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      button {
        padding: 24px;
      }
    }
  }

  .ant-layout-footer {
    margin-top: 24px;
  }
}